.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.settings__setting i{
    width: 20px;
    font-size: 22px;
    opacity: 0.9;
}

.settings__setting span{
    margin-left: 20px;
}

.settings__setting-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__setting-notice{
    margin-left: 5px;
    background-color: tomato;
    color: white;
    width: 5px;
    height: 5px;
    font-weight: 600;
    font-size: 4px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__setting-column:last-child{
    opacity: 0.6;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.settings__paragraph-end{
    border-bottom: none;
}

.settings__paragraph{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px -20px;
}


#setting-screen{
    height: 120vh;
}

#setting-screen .status-bar{
    background-color: white;
}

#settings__log-out{
    border: 1px solid rgba(122, 122, 122, 0.3);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    margin-left: 0px;
}