.nav{
    /*고정 코드*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    /*이하 코드*/
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(122, 122, 122, 0.3);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color:#2e363e;
}

.nav__notification{
    position: absolute;
    left: 18px;
    bottom: 13px;
}

.nav__dot{
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 28px;
    bottom: 28px;
}